.card {
  box-shadow: 0 0 16px 8px rgba(184, 184, 184, 0.315);
  border-radius: 0px;
  padding: 20px;
 
}
.card-ext {
   height: 400px;
}

@media (min-width: 576px) { 
  .card-ext {
    height: 100%;
  }
 }
.container {
  padding-top: 20px;
}
.box-red {
  border: 2px solid black;
  width: 20px;
  height: 20px;
  background-color: red;
}
.box-green {
  border: 2px solid black;
  width: 20px;
  height: 20px;
  background-color: green;
}

.pad-20 {
  padding: 20px;
}

.food-type {
  text-align: center;
  text-transform: capitalize;
}

input[type="checkbox"] {
  border: 2px solid #F9A826;
  width: 30px;
  height: 30px;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;

}


.fot {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.btn {
  border-radius: 0px;
}